/* Resetando o estilo padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #228B22;
    color: #fff;
    padding: 20px 0;
}

header .container {
    text-align: center;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.2rem;
}

/* Seção de conteúdo */
.content {
    padding: 40px 0;
}

.content .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h2 {
    font-size: 2rem;
    color: #2e8b57;
    margin-bottom: 20px;
}

.image {
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
}

/* Rodapé */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-top: 40px;
}

footer .container p {
    font-size: 1rem;
}
